@import "./src/styles/index";

.filter {
  display: grid;
  grid-gap: 0.5rem;

  &__box {
    @include w100;
    box-sizing: border-box;
    border-radius: 12px;
    display: flex;
    flex-direction: row;
    gap: 4px;
    flex-wrap: wrap;

    &__badge {

      &__remove {
        display: flex !important;
        align-content: flex-end;
        align-items: flex-end;
        flex-wrap: wrap;
      }

      all: unset;
      background-color: black;
      color: white;
      display: flex;
      gap: 4px;
      align-items: center;
      padding: 8px;
      border-radius: 10px;

    }
  }

  &__footer {
    @include flex-row;
    justify-content: space-between;
    font-size: 0.85rem;

    &__results {
      @include flex-row;
      align-items: center;
      color: gray;
    }

    &__order {
      @include flex-row;
      align-items: center;
    }

  }

}